In [1]:
#loading libraries
import numpy as np 
import pandas as pd

In [2]:
#loading glassdoor_jobs.csv file
df  = pd.read_csv("/content/drive/MyDrive/glassdoor_jobs.csv")
df.head(10)

   Unnamed: 0  ...                                        Competitors
0           0  ...                                                 -1
1           1  ...                                                 -1
2           2  ...                                                 -1
3           3  ...  Oak Ridge National Laboratory, National Renewa...
4           4  ...               Commerce Signals, Cardlytics, Yodlee
5           5  ...                  Digital Realty, CoreSite, Equinix
6           6  ...                                                 -1
7           7  ...                                                 -1
8           8  ...                                                 -1
9           9  ...                          Clicktripz, SmarterTravel

[10 rows x 15 columns]

In [3]:
df.shape

(956, 15)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 956 entries, 0 to 955
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         956 non-null    int64
 1   Job Title          956 non-null    object
 2   Salary Estimate    956 non-null    object
 3   Job Description    956 non-null    object
 4   Rating             956 non-null    float64
 5   Company Name       956 non-null    object
 6   Location           956 non-null    object
 7   Headquarters       956 non-null    object
 8   Size               956 non-null    object
 9   Founded            956 non-null    int64
 10  Type of ownership  956 non-null    object
 11  Industry           956 non-null    object
 12  Sector             956 non-null    object
 13  Revenue            956 non-null    object
 14  Competitors        956 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 112.2+ KB

In [5]:
df.isnull().sum()

Unnamed: 0           0
Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         0
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
dtype: int64

#Salary Parsing

In [6]:
#creating columns because in salary col it contains her pour and employee provided 
df["hourly"] = df["Salary Estimate"].apply(lambda x: 1 if 'per hour' in x.lower() else 0)
df.hourly
df["employer_provided"]  = df["Salary Estimate"].apply(lambda x : 1 if "employer provided salary:" in x.lower() else 0)
df.employer_provided

0      0
1      0
2      0
3      0
4      0
      ..
951    0
952    0
953    0
954    0
955    0
Name: employer_provided, Length: 956, dtype: int64

In [9]:
#first removing the dashes and dollar sign and averaging the salary col
df  =df[df["Salary Estimate"] != '-1']

salary = df["Salary Estimate"].apply(lambda x : x.split('(')[0]) #so removing (Glassdoor est.) from salary
minus_kd = salary.apply(lambda x: x.replace('K','').replace('$',''))
minus_kd

#getting rid of terms like 'per hour' & 'employee provided' from salary col
minus_hour = minus_kd.apply(lambda x: x.lower().replace('per hour','').replace('employer provided salary:',''))
minus_hour

#splitting the salary e.g 51-52 so inorder to remove dash LHS digit in min and RHS digit in max
df["min_salary"] = minus_hour.apply(lambda x: int(x.split('-')[0]))
df["max_salary"] = minus_hour.apply(lambda x: int(x.split('-')[1]))

#tabulating the average salary
df["avg_salary"] = (df["min_salary"] + df["max_salary"])/2
df.avg_salary

0       72.0
1       87.5
2       85.0
3       76.5
4      114.5
       ...
950     84.5
951    102.5
952     73.5
953    127.5
955     93.5
Name: avg_salary, Length: 742, dtype: float64

In [10]:
df.head()

   Unnamed: 0                  Job Title  ... max_salary avg_salary
0           0             Data Scientist  ...         91       72.0
1           1  Healthcare Data Scientist  ...        112       87.5
2           2             Data Scientist  ...         90       85.0
3           3             Data Scientist  ...         97       76.5
4           4             Data Scientist  ...        143      114.5

[5 rows x 20 columns]

## company name text only

In [12]:
#removing three characters  e.g 1.9 from the end
df["company_txt"] = df.apply(lambda x: x["Company Name"] if x["Rating"] < 0 else x["Company Name"][:-3],axis=1) #so this code removes the last three digits if the rating is greater than 1 along the company name col
df.company_txt

0                          Tecolote Research\n
1      University of Maryland Medical System\n
2                                    KnowBe4\n
3                                       PNNL\n
4                         Affinity Solutions\n
                        ...
950                                      GSK\n
951                               Eventbrite\n
952           Software Engineering Institute\n
953                             Numeric, LLC\n
955             Riverside Research Institute\n
Name: company_txt, Length: 742, dtype: object

## state field

In [16]:
# so from the location col only taking the state part  e.g. New York, NY so taking only NY 
df["state_job"] = df["Location"].apply(lambda x: x.split(',')[1])
df.state_job.value_counts()

 CA             151
 MA             103
 NY              72
 VA              41
 IL              40
 MD              35
 PA              33
 TX              28
 WA              21
 NC              21
 NJ              17
 FL              16
 OH              14
 TN              13
 DC              11
 CO              11
 WI              10
 IN              10
 UT              10
 AZ               9
 MO               9
 AL               8
 GA               6
 KY               6
 DE               6
 MI               6
 CT               5
 IA               5
 LA               4
 OR               4
 NE               4
 NM               3
 KS               3
 ID               2
 MN               2
 Los Angeles      1
 RI               1
 SC               1
Name: state_job, dtype: int64

In [19]:
#checking whether headquartes state and location state is same then 1 otherwise 0
df["same_state"] = df.apply(lambda x : 1 if x["Location"] == x["Headquarters"] else 0,axis=1)
df.same_state

0      0
1      0
2      1
3      1
4      1
      ..
950    0
951    0
952    1
953    0
955    0
Name: same_state, Length: 742, dtype: int64

## age of company

In [20]:
#just subtract the year founded - current year 
#If you don't find the founding date keep it as -1
df["company_age"] = df.Founded.apply(lambda x: x if x < 1 else 2022 - x )
df.company_age

0       49
1       38
2       12
3       57
4       24
      ...
950    192
951     16
952     38
953     -1
955     55
Name: company_age, Length: 742, dtype: int64

## parsing of job descriptions (python,etc)

In [23]:
#alright checking job_description file for data science tools like python,excel,tableu,aws,spark,r studio

#python
df["python_yn"] = df["Job Description"].apply(lambda x: 1 if "python" in x.lower() else 0)
df.python_yn.value_counts()

0    741
1      1
Name: r_studio_yn, dtype: int64

In [24]:
#r studio
df["r_studio_yn"] = df["Job Description"].apply(lambda x: 1 if "r studio" in x.lower() else 0)
df.r_studio_yn.value_counts()

0    741
1      1
Name: r_studio_yn, dtype: int64

In [25]:
#spark
df["spark_yn"] = df["Job Description"].apply(lambda x: 1 if "spark" in x.lower() else 0)
df.spark_yn.value_counts()

0    575
1    167
Name: spark_yn, dtype: int64

In [26]:
#aws
df["aws_yn"] = df["Job Description"].apply(lambda x: 1 if "aws" in x.lower() else 0)
df.aws_yn.value_counts()

0    566
1    176
Name: aws_yn, dtype: int64

In [27]:
#excel
df["excel_yn"] = df["Job Description"].apply(lambda x: 1 if "excel" in x.lower() else 0)
df.excel_yn.value_counts()

1    388
0    354
Name: excel_yn, dtype: int64

In [30]:
#dropping the very first column from dataframe
df_final = df.drop(['Unnamed: 0'],axis=1)
df_final.head()

                   Job Title              Salary Estimate  ... aws_yn  excel_yn
0             Data Scientist   $53K-$91K (Glassdoor est.)  ...      0         1
1  Healthcare Data Scientist  $63K-$112K (Glassdoor est.)  ...      0         0
2             Data Scientist   $80K-$90K (Glassdoor est.)  ...      0         1
3             Data Scientist   $56K-$97K (Glassdoor est.)  ...      0         0
4             Data Scientist  $86K-$143K (Glassdoor est.)  ...      0         1

[5 rows x 28 columns]

In [31]:
#converting dataframe inot csv file
df_final.to_csv("salary_data_cleaned",index=False) #we don't want the column names to be unnamed that's why index=False

In [32]:
#reading the  newly created csv file
pd.read_csv("salary_data_cleaned")

                                             Job Title  ... excel_yn
0                                       Data Scientist  ...        1
1                            Healthcare Data Scientist  ...        0
2                                       Data Scientist  ...        1
3                                       Data Scientist  ...        0
4                                       Data Scientist  ...        1
..                                                 ...  ...      ...
737           Sr Scientist, Immuno-Oncology - Oncology  ...        0
738                               Senior Data Engineer  ...        0
739  Project Scientist - Auton Lab, Robotics Institute  ...        1
740                               Data Science Manager  ...        1
741          Research Scientist – Security and Privacy  ...        0

[742 rows x 28 columns]